// Color Combinations;
$primary: #626D71;
$primaryB: #1E656D;
$primaryC: #CDCDC0;
$secondary: #2F3131;
$secondaryB: #04202C;


$cayenne: #AF4425;
$cinnamon: #662E1C;
$cream: #EBDCB2;
$caramel: #C9A66B;
