// Color Combinations;
$primary: #626D71;
$primary-dark: #384246;
$primary-light: #909b9f;
$primaryC: #CDCDC0;
$secondary: #fffceb;
$secondary-dark: #ccc9b9;
$secondary-light: #fdfff0;

//Pallet Cinnamon Coffee
$success: #867666;
$success-dark: #594a3c;
$danger: #B6452C;
$danger-dark: #801202;