@import '../style/color';
@import '../style/button.scss';
@import '../style/form.scss';

.flex-container{
    background-color: $secondary-dark;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 1pc;
}

.inner-container{
    padding: 1pc;
    width: 100%;
    background: #f0ecd5;
    box-shadow: 0 0 10px #f0ecd5;
    // background: $cream;
    // box-shadow: 0 0 10px $caramel;
    color: #333;
    
}