@import '../style/color';
@import '../style/error';
@import '../style/button.scss';
@import '../style/form.scss';

$min-width-page: 300px;

.flex-container{
    background-color: $secondary-dark;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 1pc;
    //min width para que no se dañe.
    min-width: $min-width-page;
}

.inner-container{
    padding: 1pc;
    width: 100%;
    background: #f0ecd5;
    box-shadow: 0 0 10px #f0ecd5;
    // background: $cream;
    // box-shadow: 0 0 10px $caramel;
    color: #333;
    
}

@media (max-width:767px){
    .flex-container{
        padding: 0;
    }
}