@import '../style/color';
@import '../style/button.scss';

.flex-container{
    background-color: $primaryC;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 1pc;
}

.inner-container{
    padding: 1pc;
    // background-color:;
    width: 100%;
    // border-radius: 4px;
    background: #fff5da;
    box-shadow: 0 0 10px #b5a180;
    // background: $cream;
    // box-shadow: 0 0 10px $caramel;
    color: #333;
    
}