@import '../../../assets/style/style.scss';

.list-container{
    width: 100%;
    padding: .5pc;
    margin-bottom: 4px;
    display: flex;
}

.list-container:nth-last-child(1){
    margin:0;
}

.list-item{
    width: 100%;
    padding: .5pc;
    margin-bottom: 4px;
    display: flex;
    border-left: 4px solid;
    // border-bottom: 4px solid;
    background-color: $secondary-light;
}

.list-item:nth-last-child(1){
    margin:0;
}

.list-header{
    font-weight: bold;
    text-align: center;
}

.list-header .list-action{
    display: block;
}

.list-quantity{
    flex: 1 0 0;
    align-items: center;
    display: flex;
}

.list-top-separator{
    flex: 3.5;
}

.list-button{
    flex: 1 0 0;
    display: flex;
}

.list-name{
    flex: 1 0 0;
    align-items: center;
    display: flex;
}

.list-description{
    flex: 3 0 0;
    align-items: center;
    display: flex;
}

.list-type{
    flex: .5 0 0;
    align-items: center;
    display: flex;
}

.list-action{
    flex: 1 0 0;
    display: flex;
}

@media (max-width:767px){
    .list-quantity{
        flex: .5
    }

    .list-top-separator{
        flex: .5
    }

    .list-header{
        visibility: hidden;
    }
    
}

//flex-style

.flex-end{
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}



// form-column 

.list-add-new{
    border-bottom:2px solid grey;
    border-top:2px solid grey;
}

.custom-input{
    display: flex;
    flex-direction: column;
}

.custom-input.text-area{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.custom-input label{
    font-weight: bold;
}
